.header {
	min-height: 50px !important;
	background-color: #2f9c5e !important;
}
body {
	position:relative;
    text-align: center !important;
}

.content {
	min-height:87vh;
}
.footer {
	min-height: 50px !important;
	background-color: #2f9c5e !important;
	color: white;
	font-weight: bold;
	position: flex !important;
	justify-content: center ! important;
	align-items: center !important;
}
.index {
border-bottom: solid;
}

.purshase-grid{
	border:solid;
	min-width: 80%;
}
.pushase-top-bot{
	border:solid 1.5px;
	font-weight: bold;
	align-items: center;	
}
.grid-center-col{
	text-align: center;
	width: 27vh;
	font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
	font-size: small;	
}
.pushase-bot{
	border:solid 1.5px;
	font-weight: bold;
	text-align: center;	
	
}
.pushase-content{
	text-align: center;	
}
.pushase-content-hours{
	text-align: center;
	font-weight: bold;
	font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
	font-size: small;
}
.flex-purshase-recap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-evenly;
}
.flex-productdetail form{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-evenly;
	border: solid;
	margin: 5px;
	padding: 5px;
}
.flex-button-panier{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
}
.flex-productdetail-img{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: baseline;
	align-content: space-evenly;
	margin: 10px;
	background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
	}
	
.category-max-width{
	max-width: 28vw
}

.flex-productdetail-content{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    max-width: 30vw;
}

.flex-categorydetails form{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: space-evenly;
}
.marginLR
{
	margin-left: 20px;
	margin-right: 20px;
}

.flex-catdetailitem 
    {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	margin: 10px;
}

    

.navbar-spe{
	position: relative;
    min-height: 60px;
}
.navbar {
	margin-bottom : 0px;
}
.navbar-default{
	border-color:transparent;
}

.navbarStyle {
    background-color: #2f9c5e; 
     position: sticky;
      top: 0;
}
.logoNavbar {
    height: 50px;
  	float: left;
 	margin-right: 5px;
 	position: relative;
    top: -60%;
}
.navbar-brand {
    color: rgb(255, 255, 255) !important;
}
.btn-default-CAT {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    margin-top: 4px;
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}
.button-category-detail{
	color: #fff;
	background-color: #2f9c5e;
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}

.imageIndex{
	height: 100%;
	position: relative;
	
}
.myTable-container {
    width: 98%;
    margin: 1%;
    overflow:auto;
    max-height:500px;
}

.myTable {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 80%;   
    border:solid;
}

th, td {
    text-align: left;
    border: 1px solid;
    padding: 10px;
}

@media screen and (max-width: 767px){
.flex-productdetail-content{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    max-width: 80vw;
}
.category-max-width{
	max-width: 85vw !important;
}
}