<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core%22%3E">

<ui:composition template="/arch.xhtml">
	<ui:define name="content">

		<h3>Vos Informations</h3>
		<h:dataTable styleClass="myTable" value="#{mbLogin.user}" var="user">
			<h:column>
				<f:facet name="header">Identifiant</f:facet>
                            #{user.login}
                        </h:column>
			<h:column>
				<f:facet name="header">Prénom</f:facet>
                            #{user.surname}
                        </h:column>
			<h:column>
				<f:facet name="header">Nom</f:facet>
                            #{user.name}
                        </h:column>
			<h:column>
				<f:facet name="header">numéro et nom de rue</f:facet>
                            #{user.numAndStreetName}
                        </h:column>
			<h:column>
				<f:facet name="header">code postale et ville</f:facet>
                            #{user.cpAndCity}
                        </h:column>
			<h:column>
				<f:facet name="header">Email</f:facet>
                            #{user.mail}
                        </h:column>
			<h:column>
				<f:facet name="header">Téléphone</f:facet>
                            #{user.phone}
                        </h:column>
		</h:dataTable>

		<h3>Vos commandes</h3>
		<ui:repeat value="#{mbLogin.purshaseByUser}" var="purshUser">
			<div class="flex-purshase-recap">
				<p:panelGrid styleClass="purshase-grid">
					<p:row styleClass="pushase-bot">
						<p:column styleClass="grid-center-col">Référence de commande</p:column>
						<p:column styleClass="grid-center-col">Statut de la commande</p:column>
						<p:column styleClass="grid-center-col">Prix total</p:column>
					</p:row>
					<p:row styleClass="pushase-content">
						<p:column styleClass="grid-center-col">#{purshUser.id}</p:column>
						<p:column styleClass="grid-center-col">#{purshUser.statut.label}</p:column>
						<p:column styleClass="grid-center-col">#{purshUser.totalAmountParsed}€</p:column>
					</p:row>
					<p:row styleClass="pushase-top-bot">
						<p:column styleClass="grid-center-col">Quantité</p:column>
						<p:column styleClass="grid-center-col">Produit</p:column>
						<p:column styleClass="grid-center-col">Prix unitaire</p:column>
					</p:row>
					<ui:repeat var="comLign" value="#{purshUser.commandLigns}">
						<p:row styleClass="pushase-content">
							<p:column styleClass="grid-center-col">#{comLign.quantity}</p:column>
							<p:column styleClass="grid-center-col">#{comLign.product.name.toUpperCase()}</p:column>
							<p:column styleClass="grid-center-col">#{comLign.product.hTAmount}€</p:column>
						</p:row>
					</ui:repeat>
				</p:panelGrid>
			</div>
			<br />

		</ui:repeat>

	</ui:define>
</ui:composition>
</html>