<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core%22%3E">


<h:head>
	<ui:insert name="head"></ui:insert>
	<link rel="icon" type="image/png"
		href="#{request.contextPath}/resources/pictures/enseigne.ico" />
	<title>Maison de la Viande</title>
	<h:outputStylesheet library="css" name="style.css" position="last" />
</h:head>
<h:body>
	<b:navBar brand="LA MAISON DE LA VIANDE"
		brand-img="#{request.contextPath}/resources/pictures/enseigne.png"
		brandHref="index.xhtml" fixed="top" fluid="true"
		class="navbar-light bg-light" brand-img-style-class="logoNavbar"
		style-class="navbarStyle">
		<b:navbarLinks pull="left">
			<b:navbarLinks>
				<b:navLink value="Contact" icon-awesome="envelope"
					href="contact.xhtml"></b:navLink>
				<b:navLink value="Bonjour #{mbLogin.user.surname}"
					icon-awesome="user" href="account.xhtml"
					rendered="#{mbLogin.isConnected}"></b:navLink>
				<b:navLink value="Connexion" icon-awesome="key" href="login.xhtml"
					rendered="#{!mbLogin.isConnected}"></b:navLink>
				<b:navLink value="Deconnexion" icon-awesome="close"
					href="logout.xhtml" rendered="#{mbLogin.isConnected}"></b:navLink>
				<b:navLink value="Panier" icon-awesome="shopping-cart"
					href="panier.xhtml"></b:navLink>
				<b:growl id="growl" allow-dismiss="true" globalOnly="true"
					showDetail="true" severity="info,warn,error"
					placementFrom="top" animation-enter="animated slideInDown"
					animation-exit="animated fadeOutDown" />
			</b:navbarLinks>
		</b:navbarLinks>
		<b:navbarLinks pull="right">
			<b:navbarLinks>
				<b:form>
					<ui:repeat var="category" value="#{mbDisplay.categories}">
						<b:commandButton value="#{category.label}"
							action="#{mbDisplay.detailCategory(category)}"
							style-class="btn-default-CAT" />
					</ui:repeat>
				</b:form>
			</b:navbarLinks>
		</b:navbarLinks>
	</b:navBar>



	<b:row>
		<b:column style-class="content">
			<ui:insert name="content"></ui:insert>
		</b:column>
	</b:row>

	<div class="footer">
		<h3>LaMaisonDeLaViande - 2022</h3>
	</div>
</h:body>

</html>