<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core%22%3E">

<ui:composition template="/arch.xhtml">
	<ui:define name="content">
		<div class="marginLR">
			<h1>#{mbDisplay.categorySelected.label}</h1>
			<h3>#{mbDisplay.categorySelected.description}</h3>
			<div class="flex-categorydetails">
				<h:form>
					<ui:repeat value="#{mbDisplay.products}" var="product">
						<div class="flex-catdetailitem">

							<h:graphicImage value="/resources/pictures/#{product.image}"
								styleClass="category-max-width" />
							<br />
							<b:commandButton style-class="button-category-detail"
								value="#{product.name.toUpperCase()}"
								action="#{mbDisplay.detailProduct(product)}" />
						</div>
					</ui:repeat>
				</h:form>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>