<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core%22%3E">

<ui:composition template="/arch.xhtml">
	<ui:define name="content">
	<h1>Les horaires</h1>
		<div class="flex-purshase-recap">
			
			<p:panelGrid styleClass="purshase-grid">
				<p:row styleClass="pushase-content-hours">
					<p:column styleClass="grid-center-col">Lundi</p:column>
					<p:column styleClass="grid-center-col">Fermé</p:column>
				</p:row>
				<p:row styleClass="pushase-content-hours">
					<p:column styleClass="grid-center-col">Mardi</p:column>
					<p:column styleClass="grid-center-col">08:30–13:00 | 15:30–19:30</p:column>
				</p:row>
				<p:row styleClass="pushase-content-hours">
					<p:column styleClass="grid-center-col">Mercredi</p:column>
					<p:column styleClass="grid-center-col">08:30–13:00 | 15:30–19:30</p:column>
				</p:row>
				<p:row styleClass="pushase-content-hours">
					<p:column styleClass="grid-center-col">Jeudi</p:column>
					<p:column styleClass="grid-center-col">08:30–13:00 | 15:30–19:30</p:column>
				</p:row>
				<p:row styleClass="pushase-content-hours">
					<p:column styleClass="grid-center-col">Vendredi</p:column>
					<p:column styleClass="grid-center-col">08:30–13:00 | 15:30–19:30</p:column>
				</p:row>
				<p:row styleClass="pushase-content-hours">
					<p:column styleClass="grid-center-col">Samedi</p:column>
					<p:column styleClass="grid-center-col">08:30–13:00 | 15:30–19:30</p:column>
				</p:row>
				<p:row styleClass="pushase-content-hours">
					<p:column styleClass="grid-center-col">Dimanche</p:column>
					<p:column styleClass="grid-center-col">Fermé</p:column>
				</p:row>
			</p:panelGrid>
		</div>
		<div class="index marginLR">
			<h1>nous contacter</h1>
		</div>
		<div>
		<br/>
			<p>La Maison de la Viande</p>
			<p>79, rue de la République</p>
			<p>13002 Marseille</p>
			<p>09 55 87 56 34</p>
			
			<div class="footer-element">
			<b:button href="https://www.facebook.com/lamaisondelaviandejoliette" look="link" icon-size="2x" iconAwesome="facebook-square"  />
			<b:button href="https://www.instagram.com/lamaisondelaviandejoliette/" look="link" icon-size="2x" iconAwesome="instagram"  />
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>