<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core%22%3E">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Connexion</title>
		<style>
div.panel-group {
	margin-bottom: 0;
}
</style>

	</ui:define>

	<ui:define name="content">
		<br />
		<b:row style-class="row-flex">
			<b:form id="loginForm">
				<b:panel
					style-class="col-sm-offset-1 col-md-offset-1 col-xs-12 col-sm-5 col-md-6">
					<h:outputText value="Connectez-vous à votre compte" />
					<b:row>
						<b:column>
							<b:message for="inpLogin" />
						</b:column>
					</b:row>
					<b:row>

						<b:column hidden="...sm"
							style-class="lsp-top-1rem col-lg-offset-1 col-lg-2 col-md-3">
							<h:outputText value="Identifiant" />
						</b:column>
						<b:column hidden="md..." style-class="col-xs-offset-1 col-xs-10">
							<h:outputText value="Identifiant" />
						</b:column>
						<b:column
							style-class="col-xs-offset-1 col-md-offset-0 col-xs-10 col-sm-10 col-md-8">
							<b:inputText id="inpLogin" placeholder="Entrer votre identifiant"
								value="#{mbLogin.login}" required="true"
								requiredMessage="Renseignez votre Identifiant">
								<f:facet name="prepend">
									<b:iconAwesome name="user" />
								</f:facet>
							</b:inputText>
						</b:column>
					</b:row>

					<b:row>
						<b:column>
							<b:message for="inpPassword" />
						</b:column>
					</b:row>
					<b:row>
						<b:column hidden="...sm"
							style-class="lsp-top-1rem col-lg-offset-1 col-lg-2 col-md-3">
							<h:outputText value="Mot de passe" />
						</b:column>
						<b:column hidden="md..." style-class="col-xs-offset-1 col-xs-10">
							<h:outputText value="Mot de passe" />
						</b:column>
						<b:column
							style-class="col-xs-offset-1 col-md-offset-0 col-xs-10 col-sm-10 col-md-8">
							<b:inputSecret id="inpPassword"
								placeholder="Veuillez entrer un mot de passe"
								value="#{mbLogin.password}" required="true"
								requiredMessage="Renseignez votre mot de passe">
								<f:facet name="prepend">
									<b:iconAwesome name="key" />
								</f:facet>
							</b:inputSecret>
						</b:column>
					</b:row>


					<b:row>
						<b:column
							style-class="lsp-vertical-padding-1rem col-xs-offset-1 col-md-offset-3 col-xs-10 col-sm-10 col-md-6">
							<b:commandButton style-class="lsp-width-100" value="Connexion"
								action="#{mbLogin.connect()}" />
						</b:column>
					</b:row>
				</b:panel>
			</b:form>



			<b:panel
				style-class="col-sm-offset-1 col-md-offset-1 col-xs-12 col-sm-4 col-md-3">
				<p>Pas encore membre ?</p>
				<p>
					<em>Incrivez vous !</em>
				</p>
				<b:row>
					<b:column
						style-class="lsp-vertical-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-10">
						<b:button href="#{request.contextPath}/register.xhtml"
							value="Je m'inscris" style-class="lsp-width-100"></b:button>
					</b:column>
				</b:row>
			</b:panel>
		</b:row>


	</ui:define>

</ui:composition>
</html>