<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core%22%3E">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Connexion</title>
		<style>
div.panel-group {
	margin-bottom: 0;
}
</style>
		<f:metadata>
			<f:event listener="#{mbLogin.disconnect()}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
<ui:define name="content">
	<div class="index marginLR">
			<h1>BIENVENUE À LA MAISON DE LA VIANDE</h1>
			<h2>100% MADE IN FRANCE</h2>
	</div>
	<div class="marginLR" style="margin: 5px max-width:60%">
	<br/>
	<p>Vous appréciez la viande savoureuse et comptez bien trouver un établissement capable de répondre à vos exigences en la matière ? Alors, rendez-vous sans plus tarder à la Maison de la viande dans le quartier de la joliette !
	 Véritable passionné, bouché dès l'age de 16ans, Redouane Aziz, meilleur apprenti 2000, est spécialiste des viandes françaises rustiques. Son crédo : la viande d'excellence dénichée chez des éleveurs fermiers labellisés et aux cheptels
	 peu nombreux.</p>
	 <br/>
	
	<h:graphicImage value="/resources/pictures/devanture.png" style="max-width: 80vw" />
	</div>
	</ui:define>
</ui:composition>

</html>