<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core%22%3E">

<ui:composition template="/arch.xhtml">
	<ui:define name="content">
		<h1>Détail du panier</h1>
		<b:message for="inpPanierLog" />
		<b:message for="inpPanierEmpty" />
		<h:dataTable styleClass="myTable" value="#{mbPurshase.cart.items}"
			var="item">
			<h:column>
				<f:facet name="header">Désignation</f:facet>
				<h:graphicImage value="/resources/pictures/#{item.product.image}"
					height="100px" />
			</h:column>

			<h:column>
				<f:facet name="header">Nom</f:facet>
				<h:outputLabel value="#{item.product.name.toUpperCase()}" />
			</h:column>
			<h:column>
				<f:facet name="header">Prix</f:facet>
				<h:outputLabel value="#{item.product.hTAmount} €" />
			</h:column>
			<h:column>

				<f:facet name="header">Quantité</f:facet>
				<h:outputLabel value="#{item.quantity}" />
			</h:column>
		</h:dataTable>
		<b:form>
			<div class="flex-button-panier marginLR">
				<br />
				<h:outputLabel
					value="Total de la commande : #{mbPurshase.totalAmountParsed} €" />
				<br />
				<b:commandButton styleClass="button-category-detail"
					value="Valider votre panier"
					action="#{mbPurshase.validatePurshase()}" />
				<br />
				<b:commandButton styleClass="button-category-detail"
					value="Vider votre panier"
					action="#{mbPurshase.ShoppingCartEmpty()}" />
			</div>

		</b:form>
	</ui:define>
</ui:composition>
</html>