<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core%22%3E">

<ui:composition template="/arch.xhtml">
	<ui:define name="content">
		<div class="flex-productdetail marginLR">
			<h:form>
				<div class="flex-productdetail-img" >
					
					<h:graphicImage
						value="/resources/pictures/#{mbDisplay.detailledProducts.image}" style="max-width: 80vw" />
				</div>
				<div class="flex-productdetail-content">

					<h:outputLabel
						value="#{mbDisplay.detailledProducts.name.toUpperCase()}" />

					<h:outputLabel value="#{mbDisplay.detailledProducts.description}" />

					<h:outputLabel
						value="#{mbDisplay.detailledProducts.hTAmount} € / #{mbDisplay.detailledProducts.unit.label}" />

					<h:outputLabel value=" pour #{mbDisplay.detailledProducts.weight}" />


					<div class="p-field p-col-12 p-md-4">
						<p:outputLabel for="@next" value="Quantité :  " />
						<p:spinner id="horizontal" value="#{mbPurshase.quantity}"
							buttons="horizontal" min="1" />
					</div>
					<br />
					<b:commandButton style-class="button-category-detail"
						value="Ajouter au panier"
						action="#{mbPurshase.addToCart(mbDisplay.detailledProducts)}" />
				</div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>